body {
    background-color: #213b50;
}

label {
    display: block;
    color: white;
    margin-left: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
    background-color: #2b4a64;
    color: white;
    margin-left: 10px;
    width: 250px;
    height: 25px;
    border: 1px solid #2b4a64;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
    background-color: #4e708c;
    color: white;
    border: 1px solid #ffffff;
}

input[type="radio"],
input[type="checkbox"] {
    margin-left: 20px;
}

input:hover, textarea:hover, select:hover{
    background-color: dodgerblue;
}

/*
label:hover {
    background-color: #213b50;
}
*/

label[for="man"],
label[for="woman"],
label[for="other"],
label[for="zgoda"] {
    display: inline;
}

textarea[id="opis"] {
    height: 100px;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
}

button:hover{
    background-color:green;
}

